<% const pageInformation =
{title:'パスワードをリセット',description:'メール送信後の画面' } %>
<%-include('partials/header', {pageInfo:pageInformation}); %>
<main>
  <div class="after-post-mail-box">
    <p>パスワードリセットを受理しました。</p>
    <p>入力アドレスに、パスワード登録用のURLを送信しました。</p>
    <p>メールに従い、パスワード設定をしてください。</p>
  </div>
</main>
<%- include('partials/footer'); %>
