<% const pageInformation = {title:'Todoリスト',description:'ログイン後の画面' }
%> <%-include('partials/header', {pageInfo:pageInformation}); %>
<main>
  <div class="todo-box">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Todoリスト</h4></li>
      <li class="collection-item">
        <div>
          Todo1<a href="#!" class="secondary-content"
            ><i class="material-icons">完了</i></a
          >
        </div>
      </li>
      <li class="collection-item">
        <div>
          Todo2<a href="#!" class="secondary-content"
            ><i class="material-icons">完了</i></a
          >
        </div>
      </li>
      <li class="collection-item">
        <div>
          Todo3<a href="#!" class="secondary-content"
            ><i class="material-icons">完了</i></a
          >
        </div>
      </li>
      <li class="collection-item">
        <div>
          Todo4<a href="#!" class="secondary-content"
            ><i class="material-icons">完了</i></a
          >
        </div>
      </li>
    </ul>
  </div>
  <form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
    <div class="submit-box">
      <input
        id="submit-btn"
        type="submit"
        value="ログアウト"
        class="waves-effect waves-light btn"
      />
      <label for="submit-btn"></label>
    </div>
  </form>
</main>
<%- include('partials/footer'); %>
