<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/css/style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>ログイン画面</title>
</head>
<body>
  <header>
  </header>
  <main>
    <div class="login-box">
      <p >ログイン</p>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
      </div>
      <div class="submit-box">
        <input id="submit-btn" type="submit" value="ログイン" class="waves-effect waves-light btn">
        <label for="submit-btn"></label>
      </div>
        </form>
        <a href="/">トップ画面に戻る </a>
    </div>
  </main>

  <footer>

  </footer>
</body>
</html>