<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>ログイン画面</title>
  </head>
  <body>
    <header></header>
    <main>
      <div class="login-box">
        <p id="login-text">ログイン</p>
        <div class="row">
          <form action="/login" method="post" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email" />
                <label for="email">Email</label>
                <% if(errorUndefined[0]!==''){ %>
                <div class="error-box">
                  <p class="error-messeage"><%=errorUndefined[0] %></p>
                </div>
                <% }%>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="validate"
                />
                <label for="password">Password</label>
                <% if(errorUndefined[1]!==''){ %>
                <div class="error-box">
                  <p class="error-messeage"><%=errorUndefined[1] %></p>
                </div>
                <% }%>
              </div>
            </div>
            <div class="submit-box">
              <input
                id="submit-btn"
                type="submit"
                value="ログイン"
                class="waves-effect waves-light btn"
              />
              <label for="submit-btn"></label>
            </div>
            <% if(errorUnmatch.length>0){%>
            <p id="login-unmatch"><%= errorUnmatch %></p>
            <% } %>
          </form>
        </div>
        <a href="/requestpassword">パスワードを忘れてしまった </a>
        <a href="/">トップ画面に戻る </a>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
