<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>登録画面</title>
  </head>
  <body>
    <header></header>
    <main>
      <div class="register-box">
        <p id="register-text">新規登録</p>
        <div class="row">
          <form action="/newregister" method="post" class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input
                  placeholder="山田"
                  id="first_name"
                  type="text"
                  class="validate"
                  name="first"
                />
                <label for="first_name">氏</label>
              </div>
              <div class="input-field col s6">
                <input
                  placeholder="太朗"
                  　id="last_name"
                  type="text"
                  class="validate"
                  name="last"
                />
                <label for="last_name">名</label>
              </div>
              <% if(errorUndefined[0] !==''){ %>
              <div class="error-box">
                <p class="error-messeage"><%=errorUndefined[0] %></p>
              </div>
              <% }%>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email" />
                <label for="email">Email</label>
                <% if(errorUndefined[1]!==''){ %>
                <div class="error-box">
                  <p class="error-messeage"><%=errorUndefined[1] %></p>
                </div>
                <% }%> <% if(errorDuplicate.length>0){ %>
                <div class="error-box">
                  <p class="error-messeage"><%= errorDuplicate %></p>
                </div>
                <% }%>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input
                  id="password"
                  type="password"
                  class="validate"
                  name="password"
                />
                <label for="password">Password</label>
                <% if(errorUndefined[2]!==''){ %>
                <div class="error-box">
                  <p class="error-messeage"><%= errorUndefined[2] %></p>
                </div>
                <% }%>
              </div>
            </div>
            <div class="submit-box">
              <input
                id="submit-btn"
                type="submit"
                value="登録する"
                class="waves-effect waves-light btn"
              />
              <label for="submit-btn"></label>
            </div>
          </form>
        </div>
        <a href="/">トップ画面に戻る </a>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
