<% const pageInformation =
{title:'パスワードを設定してください',description:'パスワード設定画面' } %>
<%-include('partials/header', {pageInfo:pageInformation}); %>
<main>
  <div class="reset-password-box">
    <p id="input-password-text">パスワードを入力してください</p>
    <div class="row">
      <form action="/resetpassword/<%= token %>" method="post" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="password"
              type="password"
              class="validate"
              name="password"
              required="required"
              minlength="8"
              pattern="^[a-zA-Z\d]{8,100}"
            />
            <label for="password"
              >新しいパスワード（半角英数字8文字以上）</label
            >
            <% if(messages[0]==='Not written password'){ %>
            <div class="error-box">
              <p class="error-messeage"><%='パスワードが未入力です。'%></p>
            </div>
            <% }%>
          </div>
        </div>
        <div class="submit-box">
          <input
            id="submit-btn"
            type="submit"
            value="パスワードを設定"
            class="waves-effect waves-light btn"
          />
          <label for="submit-btn"></label>
        </div>
      </form>
    </div>
  </div>
</main>
<%- include('partials/footer'); %>
