<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>パスワードを設定してください。</title>
  </head>
  <body>
    <header></header>
    <main>
      <div class="reset-password-box">
        <p id="input-password-text">パスワードを入力してください</p>
        <div class="row">
          <form
            action="/resetpassword/<%= email %>"
            method="post"
            class="col s12"
          >
            <div class="row">
              <div class="input-field col s12">
                <input
                  id="password"
                  type="password"
                  class="validate"
                  name="password"
                />
                <label for="password">新しいパスワード</label>
                <% if(errorUndefined[0]!==''){ %>
                <div class="error-box">
                  <p class="error-messeage"><%=errorUndefined[0] %></p>
                </div>
                <% }%>
              </div>
            </div>
            <div class="submit-box">
              <input
                id="submit-btn"
                type="submit"
                value="パスワードを設定"
                class="waves-effect waves-light btn"
              />
              <label for="submit-btn"></label>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
