//トップ画面
.wrapper-top {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  .waves-effect {
    margin: auto;
    margin-top: 40px;
    width: 250px;
  }
}

//登録画面
.login-box {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  padding: 50px;
  width: 60%;
  background-color: azure;
  .row .row .error-box .error-messeage {
    padding-top: 0px;
    text-align: right;
    color: red;
    font-size: 12px;
  }
  #login-text {
    margin-top: 0px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  #login-unmatch {
    margin-top: 0px;
    text-align: center;
    color: red;
  }
  .submit-box {
    text-align: center;
    margin-bottom: 20px;
    #submit-btn {
      width: 150px;
      color: white;
    }
  }

  a {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
}

.register-box {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  padding: 50px;
  width: 60%;
  background-color: azure;
  #register-text {
    margin-top: 0px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .input-field {
    margin-bottom: 0px;
  }
  .row .row .error-box .error-messeage {
    padding-top: 0px;
    text-align: right;
    color: red;
    font-size: 12px;
  }
  .submit-box {
    text-align: center;
    margin-bottom: 30px;
    #submit-btn {
      width: 150px;
      color: white;
    }
  }
  a {
    display: block;
    text-align: center;
  }
}

//ログイン後の画面
.todo-box {
  width: 50%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
.submit-box {
  text-align: center;
  margin-bottom: 30px;
  #submit-btn {
    width: 150px;
    color: white;
  }
}

.err-body {
  text-align: center;
}

//パスワードリセット画面
.request-password-box {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  padding: 50px;
  width: 60%;
  background-color: azure;
  .row .row .error-box .error-messeage {
    padding-top: 0px;
    text-align: right;
    color: red;
    font-size: 12px;
  }
  #input-mail-text {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  #mail-unmatch {
    margin-top: 0px;
    text-align: center;
    color: red;
  }
  .submit-box {
    text-align: center;
    margin-bottom: 20px;
    #submit-btn {
      width: 150px;
      color: white;
    }
  }
  a {
    display: block;
    text-align: center;
  }
}

//メール送信後の画面
.after-post-mail-box {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  padding: 50px;
  width: 60%;
  background-color: azure;
}

//パスワード設定画面
.reset-password-box {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  padding: 50px;
  width: 60%;
  background-color: azure;
  .row .row .error-box .error-messeage {
    padding-top: 0px;
    text-align: right;
    color: red;
    font-size: 12px;
  }
  #input-password-text {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  #mail-unmatch {
    margin-top: 0px;
    text-align: center;
    color: red;
  }
  .submit-box {
    text-align: center;
    margin-bottom: 20px;
    #submit-btn {
      width: 150px;
      color: white;
    }
  }
}
